html {
  font-size: 14px;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 5px;
    background-color: dimgray;
}

h1 {
    color: red;
}

h2 {
    color: red;
}

h3 {
    color: white;
}

ul li {
    color: teal;
}