html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /*padding: 50px 0 20px 0;*/
  background-color: #EEE;
  background-image: url("/images/mountain.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h2 {
    color:red;
}
a {
    text-decoration: none;
    color: #0079d3;
    transition: color 0.2s; 
}

    a:visited {
        color: #551a8b; 
    }

    /* Apply styles on hover */
    a:hover {
        color: #ff6a00; 
        text-decoration: underline; 
    }

h1 {
    color: white;
}
#WelcomeDescription {
    color: white;
}

#topic-description {
    color:white;
}
p {
    color: white;
}

.navbar{
    box-shadow: 0 5px 4px -6px #000;
}
.navbar a {
    text-decoration: none;
}
.navbar li{
    font-weight: bold;
    color: white;
}

    