<div id="header">
    <nav>
        <ul>
            <li>HomePage</li>
            <li>My subweddits</li>
            <li>My Posts</li>
            <li>My My Comments</li>
        </ul>
    </nav>
</div>