@model GroupProj1Weddit.Models.ViewModels.CreateCommentViewModel;
@using System.Security.Claims;
@{
    ViewData["Title"] = "CreateComment";
}



<h1>Post a Comment here</h1>

<a href="@Url.Action("Index", "Comments", new { id = @Model.PostId})" class="btn btn-primary">Return to Comments</a>

<form id="createCommentForm" asp-controller="Comments" asp-action="CreateComment" method="post" style="display:block;">
    <input type="hidden" asp-for="PostId" value="@Model.PostId" />
    @*<input type="hidden" asp-for="UserId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />*@
    <div class="form-group">
        <label for="Content">Comment..</label>
        <textarea id="Content" name="Content" class="form-control" asp-for="Content"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Post Comment</button>
</form>
