@model GroupProj1Weddit.Models.Post;

<ul>
	@foreach (var comment in Model.Comments)
	{
	  <li>@comment.Content</li>	
	}
</ul>

<button id="ToCreateComment" class="btn btn-primary" onclick="redirectToCreateComment(@Model.Id)">Go to create Comment</button>

<script>
	function redirectToCreateComment(postId) {
		var url = '@Url.Action("CreateComment", "Comments")' + '?id=' + postId;
		window.location.href = url;
	}
</script>