@using GroupProj1Weddit.Models.ViewModels;
@model List<TopicViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Weddit</h1>
    <p id="WelcomeDescription">A forum website for people who struggle to pronounce R correctly.</p>
</div>

@*--Loops through all post objects in the selected topic and prints them out as links--*@
<table class="table">
    <tbody>
        @foreach (var topic in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Index", "Posts", new { id = topic.Id })">@topic.Name</a>
                </td>
                <td id="topic-description">@topic.Description</td>
            </tr>
        }
    </tbody>
</table>